@using System.Text.Json
@using Apagea2023.Models.Servicios.Interfaces

@inject IDBAccess _servicioBD

@{
    List<Categoria> _listacats = _servicioBD.RecuperaCategorias("root");

    String _datosCliente = Context.Session.GetString("datoscliente") ?? "";
    Cliente? clientelogged = ! String.IsNullOrEmpty(_datosCliente) ? JsonSerializer.Deserialize<Cliente>(_datosCliente) : null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Agapea_netcore_mvc_23_24</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Agapea_netcore_mvc_23_24.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container">
            <div class="row" style="background-color: #2c2c2c">
                <div class="col-9"></div>
                <div class="col-3">
                    <div class="btn-group btn-sm">
                        <a href="#" class="btn btn-dark btn-sm"><img src="~/images/botonMINIcontacto.png" /></a>
                        <! -- boton de login siempre y cuando no exista estado de sesion
                              si existe de sesion entonces boton con el mail para acceder al panel del cliente
                        
                        @if (clientelogged != null)
                         {
                            <a asp-controller="cliente" asp-action="MiPanel" class="btn btn-dark btn-sm">@clientelogged.Credenciales.Email</a>
                        }
                        else
                        {
                            <a asp-controller="Cliente" asp-action="Login" class="btn btn-dark btn-sm"><img src="~/images/botonMINIlogin.png" /></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <!-- columna para panel principal -->
            <div class="col-3">
                <h6>CATEGORIAS</h6>
                <div class="list-group">
                    @foreach (Categoria unacat in _listacats)
                    {
                        <a asp-controller="Tienda"
                           asp-action="MostrarLibros"
                           asp-all-route-data="@(new Dictionary<string, string>{ {"id", unacat.NombreCategoria } } )"
                           class="list-group-item list-group-item-action">

                            @unacat.NombreCategoria

                        </a>
                    }
                </div>
            </div>
            <!-- columna central para renderizar vistas de metodos de accion de controladores cargados por modulo enrutamiento -->
            <div class="col-9">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Agapea_netcore_mvc_23_24 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
